.container
  .container-inner
    - @students.each do |student|
      - if student.are_you_now == false
        %label.col-md-3.student-content.student-content-away
          %p= student.name
          %p= student.year.to_s + '年'
          .student-content-image
            - if student.image.present?
              = image_tag student.image.to_s, class: ''
            - else
              = image_tag 'noimage', class: ''
          .student-content-form
            = form_for student, url: student_path(student), method: 'patch', remote: true do |f|
              = f.hidden_field :are_you_now, value: true
              = f.hidden_field :exit_time, value: Time.now
              = f.submit '退席中', class: 'btn btn-primary attend-btn'
      - elsif student.are_you_now == true
        %label.col-md-3.student-content.student-content-entry
          %p= student.name
          %p= student.year.to_s + '年'
          .student-content-image
            - if student.image.present?
              = image_tag student.image.to_s, class: ''
            - else
              = image_tag 'noimage', class: ''
          .student-content-form
            = form_for student, url: student_path(student), method: 'patch', remote: true do |f|
              = f.hidden_field :are_you_now, value: false
              = f.hidden_field :entry_time, value: Time.now
              = f.submit '出席中', class: 'btn btn-primary away-btn'
